*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/Picture/Wave.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.MenuContrainer{
    
    max-width: 1500px;
    margin: 0 auto;
}
nav{
    background-color: black;
   
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}
.Logo{
    font-size: 30px;
}
.Menu{
    display: flex;
    
    
}
.Menu li{
    list-style: none;
    margin-left: 100px;
    font-size: 25px;
}
a{  
    color: aliceblue;
    text-decoration: none;
}
li :hover{
    color: rgba(255, 252, 48, 0.918);
}
.ContrainerIntro{
    margin-top: 275px;
    margin-left: 205px;
    display: flex;
    align-items: center; 
}
.Intro{
   color: azure;
   display: flex;
   
   
}
.Intro h2{
    font-size: 50px;
}
.Intro h1{
    margin-top: 100px;
    font-size: 100px;
}
#Chayen{
    width: 300px;
    border-radius: 200px;
    margin-left: 300px;
}
.ContrainerAbout{
    display: block;
    align-items: center;
    margin-top: 420px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

}
.ContrainerAbout h1{
    color: azure;

}
.AboutMe{
    background-color: rgba(27, 24, 24, 0.918);
    border-radius: 30px;
    color: azure;
    
}
.AboutMe h2 {
    margin-left: 100px;
    padding-top: 20px;
    
}
.AboutMe ul{
    margin-left: 170px;
    font-size: 18px;
}

.ContrainerPort{
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.MyPortFolio{
    background-color: rgba(27, 24, 24, 0.918);
    border-radius: 30px;
}
.MyPortFolio h1{
    color: azure;
    font-size: 55px;
    text-align: center;
}
.PortPic{
    width: 500px;
    height:500px;
    border-radius: 50px;
    object-fit: cover;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.PortGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.PortItem {
    text-align: center;
}
button{
    margin-top: 5px;
    width: 160px;
    height: 60px;
    border: 2px solid #fbff00;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
    cursor: pointer;
    transition:  color 0.4s linear;
    position: relative;
}
button:hover{
    color:  #fdff80;
}
.ContrainerProject{
    margin-top: 200px;
}
.ContentProject{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 24, 24, 0.918);
    border-radius: 50px;
    margin-top: 50px;
}

.ContrainerContact{
    color: azure;
    margin-top: 350px;
    padding-left: 50px;
    background-color: rgba(27, 24, 24, 0.918);
    border-radius: 50px;
}
.ContrainerAbout h1{
    padding-top: 20px;
}
.SocialIcon{
    display: flex;
    justify-content: space-around;
    font-size: 140px;
}
.ContrainerRef{
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 50px;
    color: azure;
}
.RefGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 40px;
}

.RefItem {
    text-align: center;
}

.RefPic {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
}
/* Project Css Start*/
#h1Project{
    color: azure;
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
}
.ContrainerProject2 {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentProject2 {
    display: flex;
    align-items: center;
    background-color: rgba(27, 24, 24, 0.918);
    border-radius: 50px;
    padding: 50px;
}
.ContentProject2 img {
    width: 350px;
    height: 300px;
    border-radius: 50px;
    margin: 10px;
}

.AboutGame {
    color: azure;
    margin-left: 50px;
    margin-top: 50px;
}

.AboutGame h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.AboutGame p{
    font-size: 20px;
}
.Tutorial {
    margin-top: 50px;
    color: azure;
    background-color: rgba(27, 24, 24, 0.918);
    text-align: center;
}

.Tutorial h1 {
    font-size: 40px;
}

.Tutorial ol {
    list-style: decimal;
    font-size: 24px;
    margin-top: 10px;

}

.Tutorial li {
    margin-bottom: 10px;
    
}
.Dowload{
    color: azure;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}
.Dowload img{
    width: 700px;
    
}
/* Project Css End*/
@media screen and (max-width: 768px) {
    .MenuContrainer{
        max-width: 768;
    }
   .nav-con{
    flex-direction: column;
   }
    .Menu li {
        
        margin-left: 50px; 
        font-size: 20px; 
    }

    .ContrainerIntro {
        margin-top: 100px; 
        margin-left: 50px; 
        margin-right: 50px;
        
    }
    .Intro{
        display: block;
    }
    .Intro h2 {
        font-size: 30px; 
    }

    .Intro h1 {
        font-size: 60px; 
    }
    #Chayen {
        width: 200px; 
        margin-left: 75px; 
        margin-top: 50px;
    }

    .ContrainerAbout {
        margin-top: 200px; 
        margin-left: 20px; 
        margin-right: 20px; 
        margin-bottom: 20px; 
    }

    .AboutMe h2 {
        margin-left: 20px; 
        font-size: 16px; 
    }

    .AboutMe ul {
        margin-left: 50px; 
        font-size: 14px;
    }

    .ContrainerPort {
        
        margin-right: 300px;
        margin-top: 200px; 
    }

    .PortGrid {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
    .PortPic {
        width: 300px;
        height: 300px; 
    }
    .PortItem button {
        width: 100px;
        height: 40px;
        font-size: 14px; 
    }
    .ContrainerContact {
        margin-top: 200px; 
        padding-left: 20px;
    }

    .SocialIcon {
        flex-direction: column;
        font-size: 60px; 
    }
    .ContrainerIntro{
        display: block;
    }
    .RefGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    /*Project html*/
    .ContentProject2 {
        flex-direction: column;
        align-items: center;
    }

    .ContentProject2 img {
        order: 1;
        margin: 10px;
    }

    .AboutGame {
        order: 2;
        text-align: center;
        margin: 20px;
    }
    .Dowload img{
        width: 500px;
        
    }
}

